@import 'compass/css3';

//Font(s):
$montserrat: 'Lato', sans-serif;

//Colors:
// $grey: #8C8D8F;
// $dk-blue:#A8B8C8; 

// $lt-brown: #A79B83;
// $beige: #BBB2A1;

$brown: #8A7E66;
$off-white: #E0EAEA; //blue tint
$white: #F5F8F4; //green tint
$salmon: #FF4242;
$lt-blue: #DDE3EA;
$dk-gray: #353535;

//Basic styles ************************************************
* {
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
}

body {
    font-family: $montserrat;
    color: $dk-gray;
    font-size: 18px;
}

h1,
h2,
footer {
    text-align: center;
}

h1{
    font-weight: 700;
}

a{
    text-decoration: none;
    color: $dk-gray;

    &:visited{
        color: $dk-gray;
    }

    &[href^="mailto:"]{

        &:hover{
            text-decoration: underline;
        }
    }
}

ul{
    list-style: circle inside;
}

i{
    font-size: 30px;
}

h1{
    font-size: 38px;
    padding: 45px 0;
}

h2{
    font-size: 28px;
}
.container{
    max-width: 860px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.about-me,
.my-projects,
.connect{
    padding-bottom: 45px;
}

//Navigation ***************************************************
.nav-display{
    visibility: hidden;
    position: fixed;
    text-align: center;
    font-size: 16px;
    background: #FE8F8F;
    color: $salmon;
    margin: 15px;
    @include border-radius(8px);

    ul{
        list-style: none;

        li{ 
            padding: 10px;
            border-bottom: 1px solid #F9BBBB;

            a, 
            i{
                display: block;
            }

            a{
                color: $salmon;

                &:visited   {
                    color: $salmon;
                }
            }

            &:hover{
                background: #F9BBBB;
            }

            i{
                margin-top: 5px;
            }

            &:first-child{
                @include border-radius(8px 8px 0 0);
            }

            &:last-child{
                border: none;
                @include border-radius(0 0 8px 8px);
            }
        }
    }
}

//Home section ****************************************************
.home {
    background: url(../images/redbanklg.jpeg) no-repeat center;
    background-size: cover;
    font-family: 'Lato', sans-serif;

    #show-nav{
        position: fixed;
        right: 0;
        margin: 5px 30px 0 0;
    }

    .my-name{
        padding-top: 250px;

        h1{
            color: $salmon;
            text-transform: uppercase;
            font-size: 55px;
            margin-bottom: 5px;
            padding: 0;
        }

        h2{
            font-style: italic;
            color: $lt-blue;
        }
    }

    .contact-info{
        font-size: 20px;
        text-align: right;
        margin: 225px 15px 0 0;
        color: $lt-blue;

        .email a[href^="mailto:"],
        a:visited{ 
            color: $lt-blue; 

            &:hover{
                color: #A7B7CC;
            }
        }

        .social {
            margin-right: 75px;
            padding: 5px 0;
            
            a{
                margin-right: 10px;

                &:visited{
                    color: $lt-blue;
                }

                &:hover{
                    color: #A7B7CC;
                }
            }
        }
    }
}

//About section ***********************************************
.about-me{
    background: $off-white;

    p{
        font-size: 1.25em;
        line-height: 2em;

        a{
            font-style: italic;
              
            &:hover {
                text-decoration: underline;
            }

            &:last-child{
                font-weight: 700;
            }
        }
    }
}

//Projects section *******************************************
.my-projects{
    background: $white;
    line-height: 1.35em;

    .project{
        padding-bottom: 45px;

        img{
            max-width: 100%;
        }

        .project-info{
            padding-left: 25px;

            h2{
                margin: 10px 0;
                text-align: left;
            }

            span{
                font-style: italic;

                &:last-child{
                    font-style: normal;
                }
            }

            h3{
                margin: 5px 0;
            }

            ul li{
                padding-left: 10px;
            }

            &.final{
                margin-top: -5px;
            }

            &.etsy,
            &.twitter{
                margin-top: 10px;
            }

            &.todo{
                margin-top: 25px;
                padding-bottom: 0;
            }  
        }
    }

}

//Contact section *******************************************
.connect{
    background: $off-white;

    img{
        width: 100%;
        @include border-radius (50%);
    }

    p{
        padding: 15px;
        font-size: 20px;

        a[href^="mailto:"]{
            color: $dk-gray;
            font-weight: 700;
        }

        &:first-child{
            padding-top: 0;
        }
    }

    .social{
        a {
            i{
                margin-left: 20px;

                &:first-child{
                    margin-left: 15px;
                }

                &:hover{
                    color: #151515;
                }
            }
            
            &:visited{
                color: $dk-gray;
            }
        }
    }    
}

footer{
    background: $off-white;
    padding: 15px 0;
}

//************************** Start of resume styling *****************************
$fontcolor: #595454;

.resume-body{  
    background: $off-white
    
}

.resume-container{
    max-width: 820px;
   // color: $fontcolor;
    margin: 30px auto;
    @include border-radius(8px);

    h2{
        font-size: 28px;
        text-align: left;
    }

    h3{
        font-size: 20px;
    }

    span{
        font-style: italic;
    }

    header,
    .resume-content{
        padding: 10px 20px;
    }

    a{
        color: $fontcolor;

        &:hover{
            text-decoration: underline;
        }
    }

    p{
        padding-top: 5px;
    }

    ul{
        padding: 5px 10px;

        li {
            text-indent: -1em;
            padding-left: 15px;

            li{
                list-style: square inside;
            }
        }
    }

    span:nth-child(2){
        float: right;
        margin-right: 3px;
    }

    .job{
        margin-top: 10px; 

        p{
            margin: 5px 0;
        }
    }

    header{
        border-bottom: 1px solid #B9B5B5;
        @include border-radius(8px 8px 0 0);
        margin-bottom: 10px;
       
        h1{
            padding: 0;
            color: $salmon;
            font-size: 46px;
            text-transform: uppercase;
        }
       
        h2,
        h3,
        .resume-social{
            text-align: center;
        }

        h2,
        h3 a,
        .resume-social a{
          //  color: white;
        }

        h2,
        .resume-social{
            padding: 10px 0;
        }
    }

    .resume-content{
        line-height: 1.25em;
        @include border-radius(0 0 8px 8px);

        .print{
            float: right;

            i{
                padding-right: 5px;
            }
        }

        section{
            padding: 10px 0;

            &.objective{
                padding-top: 15px;
            }

            &.skills{
                p{ 

                    a{
                        font-weight: 700;
                        font-style: italic;
                    }
                }

                .skill{
                    margin-top: 10px;
                }
            }
        }
    } 
}


//***********************Media Queries*******************
//look into viewport meta tags

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) {
    .container{
        min-width: 320px;
        padding-left: 5px;
    }

    h1{
        font-size: 2.5em;
    }

    h2{
        font-size: 1.5em;
    }
    
    .home {
        #show-nav{
            display: none;
        }   

        .my-name{
            padding-top: 125px;

            h2{
                margin-left: 0;
                padding-top: 14px;
            }
        }

        .contact-info{
            text-align: center;
            margin: 150px 0 0 0;
            font-size: 18px;
            color: $lt-blue;

            .social{
                margin-right: 0;

                a:visited{
                    color: $lt-blue;
                }
            }
        }   
    }

    .about{
        font-size: 1em;
        line-height: 1em;

        p{
            padding: 0 5px;
        }
    }

    .my-projects{

        .project{ 

            .project-info{

                margin-left: 15px;
                padding-left: 0;

                .main-info{
                    margin-top: 10px;
                }
            }
        }
    }    

    .connect .contact-info{
        margin: 20px 15px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    
    #show-nav{
        display: none;
    }

    .my-projects {
        .project{
            
            img {
                margin-top: 110px;
            }

            .main-info{
                position: absolute;
                left: 0;
                margin-left: 5px;
            }

            .secondary-info{
                margin-top: 105px;
            }
        }   
    }
}