@import 'compass/css3';

@include "../bower_components/ionicons/fonts/";

@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=1.3.3");
  src: url("../fonts/ionicons.eot?v=1.3.3#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=1.3.3") format("truetype"), url("../fonts/ionicons.woff?v=1.3.3") format("woff"), url("../fonts/ionicons.svg?v=1.3.3#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }


//Colors:
$grey: #8C8D8F;
//$lt-blue: #C2D1D8;
$dk-blue:#A8B8C8; 
//$brown: #44362B;

$green: #BED6C7;
$blue: #ADC0B4;
$brown: #8A7E66;
$lt-brown: #A79B83;
$beige: #BBB2A1;

$off-white: rgb(231, 233, 230);
$white: #E8E6DF;
$salmon: #FF4242;
$lt-blue: rgb(209, 229, 254);

//Basic styles ************************************************
* {
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
}

body {
    background: #fafafa;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 18px;
}

h1,
h2,
footer {
    text-align: center;
}

a{
    text-decoration: none;
}

ul{
    list-style: circle inside;
}

i{
    font-size: 30px;
}

h1{
    font-size: 38px;
    padding: 45px 0;
}

h2{
    font-size: 32px;
}
.container{
    max-width: 860px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.about-me,
.my-projects,
.connect{
    padding-bottom: 45px;
}

//Navigation ***************************************************
.nav-display{
    visibility: hidden;
    position: fixed;
    text-align: center;
    font-size: 16px;
    background: #EDA1A1;
    color: $salmon;
    margin: 15px;
    @include border-radius(8px);

    ul{
        list-style: none;

        li{ 
            padding: 10px;
            border-bottom: 1px solid rgb(153, 152, 152);

            a, 
            i{
                display: block;
            }

            a:visited   {
                color: $salmon;
            }

            &:hover{
                background: #978679;
            }

            i{
                margin-top: 5px;
            }

            &:last-child{
                border: none;
            }
        }
    }
}

//Home section ****************************************************
.home {
    background: url(/../images/redbanklg.jpeg) no-repeat center;
    background-size: cover;
    font-family: 'Lato', sans-serif;

    #show-nav{
        position: fixed;
        right: 0;
        margin: 5px 30px 0 0;
    }

    .my-name{
        padding-top: 250px;

        h1{
            color: $salmon;
            text-transform: uppercase;
            font-size: 55px;
            margin-bottom: 5px;
            padding: 0;
        }

        h2{
            font-style: italic;
            color: $lt-blue;
        }
    }

    .contact-info{
        font-size: 20px;
        text-align: right;
        margin: 225px 15px 0 0;
        color: $lt-blue;

        .email a[href^="mailto:"],
        a:visited{ 
            color: $lt-blue; 

            &:hover{
                color: #A7B7CC;
            }
        }

        .social {
            margin-right: 75px;
            padding: 5px 0;
            
            a{
                margin-right: 20px;

                &:visited{
                    color: $lt-blue;
                }

                &:hover{
                    color: #A7B7CC;
                }
            }
        }
    }
}

//About section ***********************************************
.about-me{
    background: $off-white;
    color: $brown;

    p{
        font-size: 1.25em;
        line-height: 2em;
    }
}

//Projects section *******************************************
.my-projects{
    background: $white;
    line-height: 1.35em;

    .project{
        padding-bottom: 45px;

        img{
            max-width: 100%;
        }

        .project-info{
            padding-left: 25px;

            h2{
                margin: 10px 0;
                text-align: left;
            }

            span{
                font-style: italic;

                &:last-child{
                    font-style: normal;
                }
            }

            h3{
                margin: 5px 0;
            }

            ul li{
                padding-left: 10px;
            }

            &.final{
                margin-top: -5px;
            }

            &.etsy,
            &.twitter{
                margin-top: 15px;
            }

            &.todo{
                margin-top: 40px;
                padding-bottom: 0;
            }  
        }
    }

}

//Contact section *******************************************
.connect{
    background: $off-white;

    img{
        width: 100%;
        @include border-radius (50%);
    }

    p{
        padding: 15px;

        &:first-child{
            padding-top: 0;
        }
    }
    .social{

        a {
            i{
                margin-left: 20px;

                &:first-child{
                    margin-left: 15px;
                }

                &:hover{
                    color: #584C36;
                }
            }
            
            &:visited{
                color: $brown;
            }
        }
    }    
}

footer{
    background: $off-white;
    padding: 15px 0;
}

//************************** Start of resume styling *****************************
.resume-container{
    width: 720px;
    background: $off-white;
    margin: 60px auto;
    @include border-radius(8px);

    h2{
        font-size: 28px;
        text-align: left;
    }

    h3{
        font-size: 20px;
    }

    span{
        font-style: italic;
    }

    header,
    .resume-content{
        padding: 10px 20px;
    }

    a{
        color: #333;

        &:hover{
            text-decoration: underline;
        }
    }

    ul{
        padding: 5px 10px;

        li {
            text-indent: -1em;
            padding-left: 15px;

            li{
                list-style: square inside;
            }
        }
    }

    span:nth-child(2){
        float: right;
        margin-right: 3px;
    }

    .job{
        margin-top: 10px; 

        p{
            margin: 5px 0;
        }
    }

    header{
        background: cornflowerblue;
        @include border-radius(8px 8px 0 0);
       
        h1{
            padding: 0;
        }
       
        h2,
        h3,
        .resume-social{
            text-align: center;
        }
    }

    .resume-content{
        line-height: 1.25em;
        @include border-radius(0 0 8px 8px);

        section{
            padding: 10px 0;

            &.skills{
             
                .skill{
                    margin-top: 10px;
                }
            }
        }
    } 
}


//***********************Media Queries*******************
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) {
    .container{
        min-width: 320px;
        padding-left: 5px;
    }

    h1{
        font-size: 2.5em;
    }

    h2{
        font-size: 1.5em;
    }
    
    .home {
        #show-nav{
            display: none;
        }   

        .my-name{
            padding-top: 125px;

            h2{
                margin-left: 0;
                padding-top: 14px;
            }
        }

        .contact-info{
            text-align: center;
            margin: 150px 0 0 0;
            font-size: 18px;

            .social{
                margin-right: 0;
            }
        }

        
    }

    .my-projects{

        .project{ 

            .project-info{
                margin: 15px 0 0 15px;
                padding-left: 0;
            }
        }
    }    

    .connect .contact-info{
        margin: 20px 15px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    
    #show-nav{
        display: none;
    }

    .my-projects .project .main-info{
        position: absolute;
        left: 0;
        margin-left: 5px;
    }

    .my-projects .project img {
        margin-top: 110px;
    }

    .my-projects .project .secondary-info{
        margin-top: 105px;
    }
}