@import 'compass/css3';

//Colors:
$grey: #8C8D8F;
//$lt-blue: #C2D1D8;
$dk-blue:#A8B8C8; 
//$brown: #44362B;

$green: #BED6C7;
$blue: #ADC0B4;
$brown: #8A7E66;
$lt-brown: #A79B83;
$beige: #BBB2A1;

$off-white: rgb(231, 233, 230);
$white: #E8E6DF;
$salmon: #FF4242;
$lt-blue: rgb(209, 229, 254);


* {
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
}

body {
    background: #fafafa;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 18px;
}

h1,
footer {
    text-align: center;
    margin-bottom: 15px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

i{
    font-size: 45px;
}

.container{
    max-width: 860px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.about-me,
.my-projects,
.connect{
    padding: 30px 0;
}

.home {
    background: url(../images/redbanklg.jpeg) no-repeat center;
    background-size: cover;
    height: 650px;
    font-family: 'Lato', sans-serif;

    #show-nav{
        position: fixed;
        right: 0;
        margin-top: 5px;
        margin-right: 30px;
        font-size: 45px;
    }

    .my-name{
        padding-top: 250px;

        h1{
            text-align: left;
            color: $salmon;
            text-transform: uppercase;
            font-size: 55px;
            margin-bottom: 5px
        }

        h2{
            margin-left: 80px;
            font-style: italic;
            color: $lt-blue;
        }
    }

    .contact-info{
        font-size: 20px;
        text-align: right;
        margin: 235px 15px 0 0;
        color: $lt-blue;

        .email{
            a[href^="mailto:"] { 
                color: $lt-blue; 
            }
        }

        .social {
            margin-right: 75px;
            
            a{
                margin-right: 20px;

                &:hover{

                }

                &:visited{
                    color: $lt-blue;
                }

                i{
                    font-size: 30px;
                }
            }
        }
    }
}

.nav-display{
    visibility: hidden;
    position: fixed;
    text-align: center;
    font-size: 22px;
    background: #EDA1A1;
    color: $salmon;
    margin: 15px;
    @include border-radius(8px);

    ul{
        li{ 
            padding: 20px 30px;
            border-bottom: 1px solid rgb(153, 152, 152);

            a, 
            i{
                display: block;
            }

            a:visited   {
                color: $salmon;
            }

            &:hover{
                background: #978679;
            } 
        }
    }
}

.about-me{
    background: $off-white;
    color: $brown;

    p{
        font-size: 1.25em;
        line-height: 2em;
    }
}

.my-projects{
    background: $white;

    .project{
        padding-bottom: 30px;

        img{
            max-width: 100%;
        }
    }
}

.connect{
    background: $off-white;

    img{
        width: 100%
    }
}



